{% extends "base.html" -%} {% block content %}
<div class="content_divider"></div>
{% if page %}
<div class="post h-entry">
	<div class="post_meta">
		{%- set authorname = page.meta.author|default('', true) -%}
		{%- if page.meta.author_name -%}
		{%- set authorname = page.meta.author_name -%}
		{%- endif -%}
		{%- if freeze==1 -%}
		<div
			class="p-author h-card post_user_icon"
			{%- if page.meta.icon %}
			style="background-image: url('{{page.meta.icon}}');"
			{% endif %}
		></div>
		<h2 class="post_date_title post_date">{{ page.title|default('Untitled', true) }}</h2>
		<time class="dt-published" datetime="{{ page.date|default('', true) }}">{{ page.date|default('', true) }}</time>
		{%- else -%}
		<div
			class="p-author h-card post_user_icon"
			{%- if page.meta.icon %}
			style="background-image: url('{{page.meta.icon}}');"
			{% endif %}
		></div>
		<h2 class="post_date_title post_date">{{ page.title|default('Untitled', true) }}</h2>
		<time class="dt-published" datetime="{{ page.date|default('', true) }}">{{ page.date|default('', true) }}</time>

		{%- if page.meta.status and page.meta.status=='private' -%}
		<span class="post_status">
			<a href="/?status=private">
				<img
					src="{{ request.url_for('static', path='img/lock.png') }}"
					width="10"
					alt="{{page.meta.status}}"
					title="{{page.meta.status}}"
					loading="lazy"
				/>
			</a>
		</span>
		{%- endif %}

		<a
			href="{{page.path|default('', true)}}"
			data-jq-dropdown="#jq-dropdown-1"
			data-horizontal-offset="6"
			class="post_dropdown"
			>...</a
		>
		{%- endif %}
	</div>
	<div
		class="e-content {% if page.meta.custom_css_class %}{{ page.meta.custom_css_class }}{% endif %}"
	>
		{{ page.html|default('', true)|safe }}
	</div>
</div>
{% else %}
<div class="post h-entry">
	<div class="e-content">
		<p>Page content not found.</p>
	</div>
</div>
{% endif %}
<div class="content_divider content_divider_post"></div>
{% endblock content %}
